<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: white;
    text-shadow:1px 1px 10px #ffffff;
    background-image: url(../img/back.jpg);
}

=======
>>>>>>> f958163602af035b8a20fe97731b5d6fc8acd9b7
html {
    scroll-behavior: smooth;
}

<<<<<<< HEAD
a {
    color: orange;
    text-shadow:1px 1px 10px orange;
=======
ul {
    padding: 0;
}

a {
    color: orange;
>>>>>>> f958163602af035b8a20fe97731b5d6fc8acd9b7
    text-decoration: none;
    font-size: 20px;
}

nav {
    color: rgba(192, 192, 192, 0);
    font-size: 20px;
    cursor: default
}


header {
    backdrop-filter: blur(5px);
    position: sticky;
    padding: 5px;
    margin-top: -20px;
    width: 100%;
    padding: 12px 2%;
    left: 0;
    top: 0;
<<<<<<< HEAD
    border-bottom: 1px solid rgba(218, 73, 231, 0.699);
    background: #0a000000;
    box-sizing: border-box;
    box-shadow:1px 1px 10px #a51b82;
    text-align: left;
    
=======
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: #0a0000a2;
    box-sizing: border-box;
    box-shadow: 0px 5px 2px -2px #24262877
>>>>>>> f958163602af035b8a20fe97731b5d6fc8acd9b7
}

header span {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    float: right;
    padding: 5px;
    line-height: 50%;
}

header span a {
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
}

header span a:hover {
    border-bottom: 2px solid;
}

.portada {
<<<<<<< HEAD
    min-width: 100%;
}

.portada img {
    width: 50%;
}

.qs {
    color: 	#38fbdb;
    text-shadow:1px 1px 10px #38c4fb;
    text-align:center;
}

article {
    text-align:justify;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20%;
    font-size: 20px;
}

article img {
    width: 200px;
}

section h1 {
    padding-bottom: 50px;
}

article h2 {
    text-align: center;
}

#enri {
    float:left ;
    padding-left: 10%;
}

#migue {
    float: right;
    padding-right: 10%;
}

.qs1 {
    float: right;
}

.qs2 {
    float: left;
=======
    margin: 0px auto;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
}

.portada img {
    width: 30%;
}

.negro {
    background-color: #5b3228;
    color: wheat;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
}



* {
    margin: 0;
    padding: 0;
>>>>>>> f958163602af035b8a20fe97731b5d6fc8acd9b7
}