* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: PerfectZero;
    src: url(fuentes/Perfect\ Dark\ Zero.ttf);
}


h1 {
    font-family: PerfectZero;
    font-size: 96px;
    font-weight: normal;
}

body {
    text-align: center;
    color: white;
    background-color: black;
    text-shadow: 1px 1px 10px #ffffff;
    background-image: url(../img/back.jpg);
    min-width: 100%;
    background-image: url(../img/Holo.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

a {
    color: orange;
    text-shadow: 1px 1px 10px orange;
    text-decoration: none;
    font-size: 18px;
}

header {
    backdrop-filter: blur(5px);
    position: sticky;
    padding: 5px;
    margin-top: -20px;
    width: 100%;
    padding: 12px 2%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(218, 73, 231, 0.699);
    background: #0a000000;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px #a51b82;
    text-align: left;
    z-index: 90;

}

header span {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    float: right;
    padding: 5px;
    line-height: 50%;
}

header span a {
    color: inherit;
    text-decoration: none;
    margin: 0 5px;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
}


header span a:hover {
    border-bottom: 2px solid;
}

header span a:visited {
    color: rgb(160, 159, 159);
    text-shadow: 1px 1px 10px rgb(160, 159, 159);
}

header span a:active {
    text-shadow: none;
}

footer {
position: absolute;
bottom: 0px;
left: 45%;
}

footer a {
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    color: white;
}



.redes-tabla {
    width: 100%;
    margin: 20px 0;
}

.redes-tabla th,
.redes-tabla td {
    padding: 10px;
    vertical-align: middle;
}

th {
    font-size: 24px;
text-align: center;
    color: white;
}

/* Contenido dentro de las celdas */
td {
    padding: 5px;
}

/* Imágenes */
.youtube {
    float: right;
    width: 100px;
    height: 100px;
    border: 2px solid #08cfc5;
    padding: 5px;
    border-radius: 72px;
    filter: invert(1);
    box-shadow: 3px 3px 30px rgb(15, 255, 223);
}

.instagram {
    float: right;
    width: 100px;
    height: 100px;
    border: 2px solid #1bd139;
    padding: 5px;
    border-radius: 72px;
    filter: invert(1);
    box-shadow: 3px 3px 30px rgb(13, 238, 69);
}

.twitter {
    float: left;
    width: 100px;
    height: 100px;
    border: 0px solid #000000;
    padding: 5px;
    border-radius: 72px;
    filter: invert(1);
    box-shadow: 3px 3px 30px rgb(0, 0, 0);
}

.spotify {
    float: left;
    width: 100px;
    height: 100px;
    border: 0px solid #751275;
    padding: 5px;
    border-radius: 72px;
    filter: invert(1);
    box-shadow: 3px 3px 30px rgb(221, 5, 174);
}